body{
    font-family: Roboto;
}
.navbar img{
    width: 100px;
    float: left;
    margin-left: 2%;
}
.row{
    width: 100%;
}


.logo{
    float: left;
}
.cuadro{
    width: 97%;
    align-content: center;
    padding-left: 2%;
    padding-bottom: 2%;
}
footer img{
    width: 100px;
    display: inline-block;
    margin-left: 45%;
}